<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Adding languange</title>
</head>
<body>
<h3>Add new languange</h3>

<form action="/jezici/DodajJezik" method="post">
<label>Enter the name of the languange: </label><br><br>
<input type="text" name="imeJezika" placeholder="Name of the languange" required="required"><br><br>
<label>Enter the value:</label><br><br>
<input type="text" name="vrednost" placeholder="Value" required="required">
<input type="submit" value="Add new languange">
</form>
</body>
</html>